/*menu responsive sin boostrap*/

body{
    margin: 0px;
    font-family: serif;
}


header{
    width: 100%;
    background: #4E94AB;
}

#navegacion {
    display: none;
}


header label {
    display: none;
    width: 30px;
    height: 30px;
    padding: 10px;  
    border-right:1px solid #fff; 
}


header label:hover{
    cursor: pointer;
    background: rgba(0,0,0,0.3);
}

.menu ul{
    margin: 0px;
    list-style: none;
    padding: 0px;
    display: flex;
    justify-content: flex-end;
}
.menu li{
   border-right: 1px solid #fff;
}


.menu li:hover{
    background: rgba(0,0,0,0.3);
}

.menu li a{
    display: block;
    padding: 15px 20px;
    color: #fff;
    text-decoration: none;
}


@media (max-width:1000px) {
    header label{
        display: block;
    }
    .menu{
        position: absolute;
        background: #4E94AB;
        width: 70%;
        margin: -70%;
        transition: all 0.5s;
    }
    .menu ul{
        flex-direction: column;
    }
    .menu li{
        border-top: 1px solid #fff;
    }

   #navegacion:checked ~ .menu {
       margin: 0;    
   }
}
.portada{
    
    display: inline-block;
    position: absolute;
    top: -6px;
    margin-left: 100px;
    color: #fff;
    
}

/* imagen con animacion */

.imagen_animacion{
    margin-top: 30px;
    margin-right: 30px;
    margin-left: 30px;
     height: 600px;
    border-radius: 0.1%;
   background-size: 100% 100%;
    animation: victor 10s infinite alternate;
}

@keyframes victor{
    0%,15%{
        background-image: url(/imagenes/imagen7.jpeg);
        opacity: 1;
    }

    16%,19%{
        opacity: 0.1;
    }

    20%,45%{
        background-image: url(/imagenes/imagen2.jpeg);
        opacity: 1;
    }

     46%,49%{
         opacity: 0.1;
     }       



     50%,70%{
         background-image: url(/imagenes/imagen3.jpeg);
         opacity: 1;
     }


     71%,74%{
         opacity: 0.1;
     }


     75%,90%{
         background-image: url(/imagenes/imagen5.jpeg);
         opacity: 1;
     }

     91%,94%{
         opacity: 0.1;
     }

     95%,100%{
         background-image: url(/imagenes/imagen4.jpeg);
         opacity: 1;
     }


}


.titulo_y_descripcion{
    text-align: center;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    
}

.pide_una_cotizacion{
    text-align: center;
    margin-top: 100px;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
}





/* otro formulario */

main {
	max-width: 800px;
	width: 90%;
	margin: auto;
	padding: 40px;
}

.formulario {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 40px;
    margin-left: 150px;
}


.formulario__btn{
    margin-right: 140px;
}

.formulario__label {
	display: block;
	font-weight: 700px;
	padding: 10px;
	cursor: pointer;
}

.formulario__grupo-input {
	position: relative;
}

.formulario__input {
	width: 85%;
	background: #fff;
	border: 3px solid transparent;
	border-radius: 3px;
	height: 45px;
	line-height: 45px;
	padding: 0 40px 0 10px;
	transition: .3s ease all;
}

.formulario__input:focus {
	border: 3px solid #0075FF;
	outline: none;
	box-shadow: 3px 0px 30px rgba(163,163,163, 0.4);
}

.formulario__input-error {
	font-size: 12px;
	margin-bottom: 0;
	display: none;
}

.formulario__input-error-activo {
	display: block;
}

.formulario__validacion-estado {
	position: absolute;
	right: 10px;
	bottom: 15px;
	z-index: 100;
	font-size: 16px;
	opacity: 0;
}

.formulario__checkbox {
	margin-right: 10px;
}

.formulario__grupo-terminos, 
.formulario__mensaje,
.formulario__grupo-btn-enviar {
	grid-column: span 2;
}

.formulario__mensaje {
	height: 45px;
	line-height: 45px;
	background: #F66060;
	padding: 0 15px;
	border-radius: 3px;
	display: none;
}

.formulario__mensaje-activo {
	display: block;
}

.formulario__mensaje p {
	margin: 0;
}

.formulario__grupo-btn-enviar {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.formulario__btn {
	height: 45px;
	line-height: 45px;
	width: 30%;
	background: #000;
	color: #fff;
	font-weight: bold;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	transition: .1s ease all;
}

.formulario__btn:hover {
	box-shadow: 3px 0px 30px rgba(163,163,163, 1);
}

.formulario__mensaje-exito {
	font-size: 14px;
	color: #119200;
	display: none;
}

.formulario__mensaje-exito-activo {
	display: block;
}

/* ----- -----  Estilos para Validacion ----- ----- */
.formulario__grupo-correcto .formulario__validacion-estado {
	color: #1ed12d;
	opacity: 1;
}

.formulario__grupo-incorrecto .formulario__label {
	color: #bb2929;
}

.formulario__grupo-incorrecto .formulario__validacion-estado {
	color: #bb2929;
	opacity: 1;
}

.formulario__grupo-incorrecto .formulario__input {
	border: 3px solid #bb2929;
}


/* ----- -----  Mediaqueries ----- ----- */
@media screen and (max-width: 800px) {
	.formulario {
		grid-template-columns: 1fr;
	}

	.formulario__grupo-terminos, 
	.formulario__mensaje,
	.formulario__grupo-btn-enviar {
		grid-column: 1;
	}

	.formulario__btn {
		width: 100%;

        
	}
}