body{
    margin: 0px;
    padding: 0px;
    background-size: cover; 
    font-family: sans-serif;
    height: 100vh;
    background-size: 100% 100%;
    
    
}


.animcacion_imagen{
     width: 100%;
     height: 977px;
    background-size: 100% 100%;
    animation: victor 10s infinite alternate;
}

@keyframes victor{
    0%,15%{
        background-image: url(/imagenes/imagen8.jpeg);
        opacity: 1;
    }

    16%,19%{
        opacity: 0.1;
    }

    20%,45%{
        background-image: url(/imagenes/imagen7.jpeg);
        opacity: 1;
    }

     46%,49%{
         opacity: 0.1;
     }       



     50%,70%{
         background-image: url(/imagenes/imagen6.jpeg);
         opacity: 1;
     }


     71%,74%{
         opacity: 0.1;
     }


     75%,90%{
         background-image: url(/imagenes/imagen5.jpeg);
         opacity: 1;
     }

     91%,94%{
         opacity: 0.1;
     }

     95%,100%{
         background-image: url(/imagenes/imagen1.jpeg);
         opacity: 1;
     }


}




.login-box{
    border-radius: 10px;
    width: 400px;
    height: 440px;
    background: rgb(42, 139, 231);
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
}

.login-box .avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}

.login-box h1{
    margin: 0px;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

.contrasena{
    margin: 0px;
    padding: 0px;
    font-weight: bold;
    display: block;
}

.correo {
    margin: 0px;
    padding: 0px;
    font-weight: bold;
    display: block;
}

.login-box input {
    width: 100%;
    margin-bottom: 20px;
}


.login-box input[type = "email"],
.login-box input[type = "password"] {
    border: none;
    border-bottom: 1px solid #000000;
    background: transparent;
    outline: none;
    height: 40px;
    color: rgb(0, 0, 0);
    font-size: 16px;
}

.boton_registro {
    border: none;
    height: 40px;
    background: rgb(219, 5, 5);
    color: #000;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-radius: 20px;
    cursor: pointer;
    margin-left: 75px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 3px;
    padding-bottom: 5px;
}



 .boton_activo:hover {
    background: rgb(32, 140, 228);
    animation: boton 2s infinite alternate ease;
 }

 @keyframes boton {
     0%{background: red;}
     10%{background: green;}
     20%{background: yellow;}
     30%{background: blue;}
     40%{background: orange;}
     50%{background: pink;}
     60%{background: greenyellow;}
     70%{background: darkmagenta;}
     80%{background: yellowgreen;}
     90%{background: lightskyblue;}
     100%{background: orchid;}

 }





 
 .no {
    margin-top: 50px;
}

.login-box a {
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: rgb(2, 1, 1);
    cursor: pointer;
}
 .no a {
    color: #000000;
    
    font-weight: bold;
    
 }

 .no a:hover {
    color: rgb(0, 25, 251);
    font-weight: bold;
    font-size: 15px;
    transition: .5s ease all;
 }

